/* z-index handling of component interactions */
* {
  --gateway-z: 1;
  --gateway-open-z: 4;

  --zapper-z: 1;
  --zapper-open-z: 6;

  --umbrella-z: 1;
  --umbrella-open-z: 3;

  --brick-z: 5;
  --brick-open-z: 6;

  --ratchet-z: 2;

  --solar-system-z: 2;
  --star-z: 2;
  --planet-z: 1;
  --moon-z: 2;

  --barrier-strip-z: 10;
}


#root {
  position: relative;
  background: darkgray;
}
