.brick {
    position: absolute;
    z-index: var(--brick-z);

    background: darkred;
    border-radius: 1.5vw;

    left: var(--closed-left);
    top: var(--closed-top);
    width: var(--closed-width);
    height: var(--closed-height);
}

.brick:hover {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--brick-open-z);

    border-radius: 0;
    opacity: 0.7;
}

.brick-pattern {
    position: absolute;
    inset: 0;

    background-image: url("/svg/brick.svg");
    background-repeat: repeat;
    background-size: 5vw 5vw;
}
