.ml-brick {
    position: absolute;
    z-index: var(--brick-z);

    background: darkred;
    border-radius: 2vw;
}

.ml-brick__blocker {
    position: absolute;
    inset: 0;

    background: darkred;
    border-radius: 2vw;
    opacity: 0.7;

    overflow: hidden;
}

.ml-brick__blocker:hover {
    inset: -100vw;
}

.ml-brick__wall {
    position: absolute;
    inset: 0;

    background-image: url("/svg/brick.svg");
    background-repeat: repeat;
    background-size: 5vw 5vw;
}