.component-name {
  z-index: var(--component-name-z);

  position: absolute;

  width: 5vw;
  height: 5vw;
}

.component-name:has(.component-name-blocker:hover) {
  z-index: var(--component-name-open-z);
}

.component-name-blocker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  opacity: 0.85;
}

.component-name-blocker:hover {
  /* TODO */
}

.component-name-image-holder {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

  /* TODO */

  pointer-events: none;
}

.component-name:has(.component-name-blocker:hover) .component-name-image-holder {
  /* TODO */
}

.component-name-icon {
  position: absolute;
  width: 100%;
  height: 100%;

  pointer-events: none;
}
