.gateway {
  position: absolute;
  z-index: var(--gateway-z);

  width: 5vw;
  height: 5vw;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: width 250ms ease;

  overflow: hidden;

  background: gold;
}

.gateway:hover {
  width: 12vw;
  height: 5vw;
  z-index: var(--gateway-open-z);
}

.gateway-doorway,
.gateway-door {
  position: absolute;
  left: 0;

  width: auto;
  height: 100%;

  pointer-events: none;
}

.gateway-door {
  transition: opacity 300ms ease;
}

.gateway:hover .gateway-door {
  opacity: 0;
}

.gateway-link-container {
    position: absolute;
    left: 5.5vw;
    width: 6vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.gateway-link {
  font-size: 1vw;
  text-decoration: none;
}

