/* Root umbrella container */
.ml-umbrella {
  z-index: 1;

  position: absolute;

  width: 5vw;
  height: 5vw;

  background: paleturquoise;
  border-radius: 50%;

  --umbrella-open-time: 100ms;
  --umbrella-close-time: 2000ms;
}

.ml-umbrella:has(.ml-umbrella__blocker:hover) {
  z-index: 2;
}

.ml-umbrella__blocker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  border-radius: 50%;
  background: paleturquoise;
  opacity: 0.85;

  transition: transform var(--umbrella-close-time) ease;
}

/* Expanded state */
.ml-umbrella__blocker:hover {
  transform: scale(7);
  transition: transform var(--umbrella-open-time) ease;
}

.ml-umbrella__image-holder {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.ml-umbrella__handle,
.ml-umbrella__fabric {
  position: absolute;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.ml-umbrella__fabric {
  transform: scaleX(0.3) scaleY(2) translateY(1vw);
  transition: transform var(--umbrella-close-time) ease;
}

.ml-umbrella:has(.ml-umbrella__blocker:hover) .ml-umbrella__fabric {
  transform: none;
  transition: transform var(--umbrella-open-time) ease;
}
