.umbrella {
  z-index: var(--umbrella-z);

  position: absolute;

  width: 5vw;
  height: 5vw;

  background: paleturquoise;
  border-radius: 50%;

  --umbrella-open-time: 100ms;
  --umbrella-close-time: 2000ms;
}

.umbrella:has(.umbrella-blocker:hover) {
  z-index: var(--umbrella-open-z);
}

.umbrella-blocker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  border-radius: 50%;
  background: paleturquoise;
  opacity: 0.85;

  transition: transform var(--umbrella-close-time) ease;
}

.umbrella-blocker:hover {
  transform: scale(7);
  transition: transform var(--umbrella-open-time) ease;
}

.umbrella-image-holder {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

  transform: rotate(-30deg);
  transition: transform var(--umbrella-close-time) ease;

  pointer-events: none;
}

.umbrella:has(.umbrella-blocker:hover) .umbrella-image-holder {
  transform: none;
  transition: transform var(--umbrella-open-time) ease;
}

.umbrella-handle,
.umbrella-fabric {
  position: absolute;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.umbrella-fabric {
  transform: scaleX(0.3) scaleY(2) translateY(1vw);
  transition: transform var(--umbrella-close-time) ease;
}

.umbrella:has(.umbrella-blocker:hover) .umbrella-fabric {
  transform: none;
  transition: transform var(--umbrella-open-time) ease;
}
