.zapper {
  z-index: var(--zapper-z);

  position: absolute;
  left: var(--zapper-left);
  top: var(--zapper-top);
  width: var(--zapper-width);
  height: var(--zapper-height);

  background: red;
  border-radius: 50%
}

.zapper:hover {
  z-index: var(--zapper-open-z);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;

  opacity: 0.7;
}

.zapper-lantern {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.zapper:hover .zapper-lantern {
  left: var(--zapper-left);
  top: var(--zapper-top);
  width: var(--zapper-width);
  height: var(--zapper-height);
}