/* Root zapper container */
.ml-zapper {
  z-index: var(--zapper-z);

  position: absolute;

  width: 5vw;
  height: 5vw;

  background: red;
  border-radius: 50%
}

.ml-zapper:has(.ml-zapper__blocker:hover) {
  z-index: var(--zapper-open-z);
}

.ml-zapper__blocker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  border-radius: 50%;
  background: red;
  opacity: 0.7;
}

/* Expanded state */
.ml-zapper__blocker:hover {
  transform: scale(1000);
}

/* Doorway (always visible) */
.ml-zapper__lantern {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;

  pointer-events: none;
}
