.ml-level {
    width: 100vw;
    position: relative;
    background: #181818;
    overflow: hidden;
}

.victory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
